.wds-pop-box {
    position: absolute;
    z-index: 900;
    opacity: 0;
    display: none;
    pointer-events: none;
    transition: clip-path 0.2s ease-in-out, transform 0.2s ease-in-out, opacity 0.3s;
}
.wds-pop-box:not(.not-shadow) {
    background: #ffffff;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
}
.wds-pop-box.top {
    clip-path: inset(0 0 100% 0);
    transform: translateY(-12px);
}
.wds-pop-box.top[data-open='true'] {
    display: block;
    clip-path: inset(-2% -2% -2% -2%);
    transform: translateY(0px);
}
.wds-pop-box.right {
    transform-origin: -5% 10px;
    transform: scale(0);
}
.wds-pop-box.right[data-open='true'] {
    display: block;
    transform: scale(1);
}
.wds-pop-box.left {
    transform-origin: 105% 10px;
    transform: scale(0);
}
.wds-pop-box.left[data-open='true'] {
    display: block;
    transform: scale(1);
}
.wds-pop-box.bottom {
    clip-path: inset(0 0 100% 0);
    transform: translateY(-12px);
}
.wds-pop-box.bottom[data-open='true'] {
    display: block;
    clip-path: inset(-2% -2% -2% -2%);
    transform: translateY(0px);
}
.wds-pop-box[data-open='true'] {
    display: block;
    pointer-events: auto;
    opacity: 1;
}
