.wds-nt-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 0.1em;
    height: 1em;
    overflow: hidden;
}

.wds-nt-container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 8%;
    background: linear-gradient(to top, rgba(255, 255, 255, 0), #fff);
    z-index: 999;
}

.wds-nt-container::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 15%;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0), #fff);
    z-index: 999;
}

.wds-nt-container > .comma {
    /* padding-bottom: 1em; */
    font-size: 90%;
    /* opacity: 0.8; */
}

.wds-nt-item {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    transition: transform 0.5s cubic-bezier(0.39, 0.54, 0.19, 0.85);
    will-change: transform;
}

.wds-nt-item > .wds-nt {
    text-align: center;
    pointer-events: none;
}
