.wds-nt {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 0.1em;
    height: 1em;
    overflow: hidden;
}

.wds-nt.wds-nt-mount-animate {
    opacity: 0;
    animation: wds-animate-show 0.5s 0.3s ease-in-out forwards;
}

.wds-nt::before {
    content: '';
    position: absolute;
    top: -2%;
    left: 0;
    right: 0;
    width: 100%;
    height: 10%;
    background: linear-gradient(to top, rgba(255, 255, 255, 0), #fff);
    z-index: 1;
}

.wds-nt::after {
    content: '';
    position: absolute;
    bottom: -2%;
    left: 0;
    right: 0;
    width: 100%;
    height: 17%;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0), #fff);
    z-index: 1;
}

.wds-nt > .comma {
    /* padding-bottom: 1em; */
    font-size: 90%;
    /* opacity: 0.8; */
}

.wds-nt-item {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    transition: transform 0.5s cubic-bezier(0.39, 0.54, 0.19, 0.85);
    will-change: transform;
}
.wds-nt-item[data-index='0'] {
    transform: translateY(calc(-0 * 100%));
}
.wds-nt-item[data-index='1'] {
    transform: translateY(calc(-1 * 100%));
}
.wds-nt-item[data-index='2'] {
    transform: translateY(calc(-2 * 100%));
}
.wds-nt-item[data-index='3'] {
    transform: translateY(calc(-3 * 100%));
}
.wds-nt-item[data-index='4'] {
    transform: translateY(calc(-4 * 100%));
}
.wds-nt-item[data-index='5'] {
    transform: translateY(calc(-5 * 100%));
}
.wds-nt-item[data-index='6'] {
    transform: translateY(calc(-6 * 100%));
}
.wds-nt-item[data-index='7'] {
    transform: translateY(calc(-7 * 100%));
}
.wds-nt-item[data-index='8'] {
    transform: translateY(calc(-8 * 100%));
}
.wds-nt-item[data-index='9'] {
    transform: translateY(calc(-9 * 100%));
}

.wds-nt-item > span {
    text-align: center;
    pointer-events: none;
}
