@keyframes wds-scale-up {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(2);
    }
}
.wds-btn-group {
    display: flex;
    justify-content: center;
    align-items: center;
}
.wds-btn-group-block {
    width: 100%;
}
.wds-btn {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4px 16px;
    border: 1px solid var(--grey300);

    background-color: #fff;
    color: var(--grey700);
    text-align: center;
    font-size: 14px;
    line-height: 1.5715;
    white-space: nowrap;

    transition: box-shadow 0.5s;
    overflow: hidden;
}
.wds-btn-100 {
    font-weight: 100;
}
.wds-btn-300 {
    font-weight: 300;
}
.wds-btn-400 {
    font-weight: 400;
}
.wds-btn-500 {
    font-weight: 500;
}
.wds-btn-700 {
    font-weight: 700;
}
.wds-btn-block {
    width: 100%;
}
.wds-btn + .wds-btn {
    border-left-width: 0px;
}
.wds-btn:hover {
    transition: box-shadow 0.3s;
    box-shadow: 0px 1px 3px 0px rgb(0 0 0 / 15%), 0px 3px 4px 0px rgb(0 0 0 / 9%), 0px 0px 9px 0px rgb(0 0 0 / 7%);
    z-index: 1;
}
.wds-btn:active {
    transition: box-shadow 0.3s;
    box-shadow: 0px 5px 5px -3px rgb(0 0 0 / 15%), 0px 8px 10px 1px rgb(0 0 0 / 9%), 0px 1px 11px 2px rgb(0 0 0 / 7%);
    z-index: 1;
}
.wds-btn > .on {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.04);
    border-radius: 50%;
    transform: scale(0);
    animation: wds-scale-up 0.3s ease forwards;
    pointer-events: none;
}
.wds-btn-sm {
    padding: 2px 8px;
    height: 16px;
    font-size: 12px;
}
.wds-btn-lg {
    padding: 12px 24px;
    font-size: 16px;
}
.wds-btn-primary {
    border: none;
    background-color: var(--primary500);
    color: #fff;
}
.wds-btn-secondary {
    border: none;
    background-color: var(--grey700);
    color: #fff;
}
.wds-btn-primary > .on,
.wds-btn-secondary > .on {
    background-color: rgba(255, 255, 255, 0.2);
}
.wds-btn-cancel {
    border: none;
    background-color: var(--grey200);
    color: var(--grey700);
}
.wds-btn-cancel > .on {
    background-color: rgba(0, 0, 0, 0.1);
}
.wds-btn-goast {
    border: none;
}
.wds-btn-circle {
}
.wds-btn-round {
    border-radius: 4px;
}
.wds-btn-group > .wds-btn-round:nth-of-type(1n):not(:last-of-type) {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}
.wds-btn-round + .wds-btn-round {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}
.wds-btn-ellipse {
}
