.ppby-btn-group {
    display: flex;
    justify-content: center;
    align-items: center;
}
.ppby-btn {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    min-width: 40px;
    padding: 0px 16px;
    border: 1px solid var(--grey300);

    background-color: #fff;
    color: var(--grey700);
    text-align: center;
    font-size: 14px;
    line-height: 1.5715;
    white-space: nowrap;
    user-select: none;
    touch-action: manipulation;

    transition: background 0.3s, border-color 0.3s, box-shadow 0.5s;
    overflow: hidden;
}
.ppby-btn.shadow:focus {
    box-shadow: var(--hoverBoxShadow);
}
.ppby-btn-group > .ppby-btn:nth-of-type(1n):not(:last-of-type) {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}
.ppby-btn-group .ppby-btn + .ppby-btn {
    border-left-width: 0px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}
.ppby-btn.block {
    width: 100%;
}
.ppby-btn-bold {
    font-weight: 700;
}
.ppby-btn.shadow:not(:disabled):hover {
    transition: box-shadow 0.3s;
    box-shadow: var(--hoverBoxShadow);
    z-index: 1;
}
.ppby-btn.shadow:not(:disabled):active {
    transition: box-shadow 0.3s;
    box-shadow: var(--activeBoxShadow);
    z-index: 1;
}
.ppby-btn:disabled {
    cursor: not-allowed;
    background-color: var(--grey150);
    color: var(--grey200);
}
.ppby-btn > .ppby-btn-press-shadow {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    pointer-events: none;
}
.ppby-btn > .ppby-btn-press-shadow > div {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 50%;
    transform: scale(0);
    pointer-events: none;
    animation: ppby-animate-scale-up 0.5s ease-in forwards;
}
.ppby-btn-sm {
    padding: 0 8px;
    min-width: 30px;
    height: 30px;
    font-size: 12px;
}
.ppby-btn-lg {
    padding: 0 24px;
    min-width: 50px;
    height: 50px;
    font-size: 16px;
}
.ppby-btn.ppby-picker-btn {
    padding: 0px;
}
.ppby-btn-primary {
    border: none;
    background-color: var(--primary500);
    color: #fff;
}
.ppby-btn-secondary {
    border: none;
    background-color: var(--grey700);
    color: #fff;
}
.ppby-btn-primary > .ppby-btn-press-shadow > div,
.ppby-btn-secondary > .ppby-btn-press-shadow > div {
    background-color: rgba(255, 255, 255, 0.1);
}
.ppby-btn-cancel {
    border: none;
    background-color: var(--grey200);
    color: var(--grey700);
}
.ppby-btn-cancel > .ppby-btn-press-shadow > div {
    background-color: rgba(0, 0, 0, 0.1);
}
.ppby-btn-danger {
    border-color: var(--error500);
    color: var(--error500);
}
.ppby-btn-goast {
    border: none;
}
.ppby-btn-circle {
    border-radius: 50%;
}
.ppby-btn-circle.ppby-btn {
    padding: 4px;
}
.ppby-btn-circle.ppby-btn-sm {
    padding: 2px;
}
.ppby-btn-circle.ppby-btn-lg {
    padding: 12px;
}
.ppby-btn-round {
    border-radius: 4px;
}
.ppby-btn-ellipse {
    border-radius: 1.5rem;
}
