@supports (-webkit-appearance: none) or (-moz-appearance: none) {
    .ppby-switch > input {
        --active: var(--primary500);
        --active-inner: #fff;
        --focus: 2px var(--primary300);
        --border: var(--grey400);
        --border-hover: var(--primary600);
        --background: #fff;
        --disabled: var(--grey200);
        --disabled-inner: var(--grey300);
        -webkit-appearance: none;
        -moz-appearance: none;
        position: relative;
        display: inline-block;
        height: 20px;
        width: 38px;
        vertical-align: top;
        margin: 0;
        background: var(--b, var(--background));
        border-radius: 10px;
        border: 1px solid var(--bc, var(--border));
        outline: none;
        cursor: pointer;
        transition: background 0.3s, border-color 0.3s, box-shadow 0.2s;
    }
    .ppby-switch > input:checked {
        --b: var(--active);
        --bc: var(--active);
        --d-o: 0.3s;
        --d-t: 0.6s;
        --d-t-e: cubic-bezier(0.2, 0.85, 0.32, 1.2);
        --ab: var(--active-inner);
        --x: 17px;
    }
    .ppby-switch > input:after {
        content: '';
        position: absolute;
        left: 2px;
        top: 1.5px;
        display: block;
        width: 15px;
        height: 15px;
        border-radius: 50%;
        background: var(--ab, var(--border));
        transform: translateX(var(--x, 0));
        transition: transform var(--d-t, 0.3s) var(--d-t-e, ease), opacity var(--d-o, 0.2s);
    }
    .ppby-switch > input:disabled {
        /* --b: var(--disabled); */
        --b: #fff;
        cursor: not-allowed;
        opacity: 0.9;
    }
    .ppby-switch > input:disabled:checked {
        --b: var(--disabled-inner);
        --bc: var(--border);
    }
    .ppby-switch > input:hover:not(:checked):not(:disabled) {
        --bc: var(--border-hover);
    }
    .ppby-switch > input:focus {
        box-shadow: 0 0 0 var(--focus);
    }
    .ppby-switch > input + label {
        display: inline-block;
        padding-left: 8px;
        vertical-align: top;
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        color: var(--grey700);
        cursor: pointer;
    }
    .ppby-switch > input:disabled + label {
        color: var(--grey300);
        cursor: not-allowed;
    }
    .ppby-switch > input:disabled:not(:checked):after {
        opacity: 0.6;
    }
}
