@keyframes ppby-animate-toast-in {
    from {
        opacity: 0;
        transform: translateX(-50%) translateY(-50%);
    }
    to {
        opacity: 1;
        transform: translateX(-50%) translateY(0);
    }
}
@keyframes ppby-animate-toast-out {
    from {
        opacity: 1;
        transform: translateX(-50%) translateY(0);
    }
    to {
        opacity: 0;
        transform: translateX(-50%) translateY(-50%);
    }
}
@keyframes ppby-animate-skeleton-gradient {
    0% {
        background-color: rgba(165, 165, 165, 0.1);
    }
    50% {
        background-color: rgba(165, 165, 165, 0.3);
    }
    100% {
        background-color: rgba(165, 165, 165, 0.1);
    }
}
@keyframes ppby-animate-show {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes ppby-animate-scale-up {
    0% {
        opacity: 1;
        transform: scale(0);
    }
    60% {
        opacity: 1;
        transform: scale(2);
    }
    100% {
        opacity: 0;
        transform: scale(2);
    }
}
