@charset "utf-8";

[class] {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    border: 0;
    background-color: transparent;
    border-collapse: collapse;
    border-spacing: 0;
    -webkit-appearrance: none;
    appearance: none;
}

[class]::before,
[class]::after {
    box-sizing: border-box;
}
