:root {
    --primary50: #f8fdff;
    --primary100: #f0faff;
    --primary200: #d6f0ff;
    --primary300: #b4ddff;
    --primary400: #81c5ff;
    --primary500: #4aabff;
    --primary600: #2f97ef;
    --primary700: #3579c9;
    --primary800: #195fb2;
    --primary900: #07448d;
    --primary1000: #002d64;
    --blueDynamic50: #82c7ff;
    --blueDynamic100: #57aeff;
    --blueDynamic200: #3794ff;
    --blueDynamic300: #1e78ff;
    --blueDynamic400: #0f61f8;
    --blueDynamic500: #0051ee;
    --blueDynamic600: #003dd6;
    --blueDynamic700: #0028c7;
    --blueDynamic800: #0012b5;
    --blueDynamic900: #000899;
    --blueDynamic950: #040085;
    --blueSoft50: #cce4ff;
    --blueSoft100: #abceff;
    --blueSoft200: #94bbff;
    --blueSoft300: #7da9f5;
    --blueSoft400: #709ff5;
    --blueSoft500: #4877f3;
    --blueSoft600: #0051ee;
    --blueSoft700: #0047e2;
    --blueSoft800: #003cd6;
    --blueSoft900: #0034ba;
    --blueSoft950: #001f91;
    --error50: #ffd5d5;
    --error100: #ffbaba;
    --error200: #ff9595;
    --error300: #ff7c7c;
    --error400: #fd6b6b;
    --error500: #ff5252;
    --error600: #f24040;
    --error700: #d82e2e;
    --error800: #bf1f1f;
    --error900: #a40b0b;
    --error1000: #7e0202;
    --redDynamic50: #ffcbd2;
    --redDynamic100: #f69699;
    --redDynamic200: #ee6c71;
    --redDynamic300: #f9454d;
    --redDynamic400: #ff2d31;
    --redDynamic500: #de0e2a;
    --redDynamic600: #d10023;
    --redDynamic700: #c30015;
    --redDynamic800: #af0008;
    --redDynamic900: #940000;
    --redSoft50: #ffeef1;
    --redSoft100: #ffd4d9;
    --redSoft200: #ffa5a5;
    --redSoft300: #ff8181;
    --redSoft400: #ff635e;
    --redSoft500: #ff5343;
    --redSoft600: #f3423d;
    --redSoft700: #e63b36;
    --redSoft800: #d7302a;
    --redSoft900: #bf1313;
    --orangeDynamic50: #ffebbd;
    --orangeDynamic100: #ffde91;
    --orangeDynamic200: #ffc466;
    --orangeDynamic300: #ffac26;
    --orangeDynamic400: #ff8717;
    --orangeDynamic500: #ff7b00;
    --orangeDynamic600: #fc752a;
    --orangeDynamic700: #f76120;
    --orangeDynamic800: #e8511a;
    --orangeDynamic900: #db3a09;
    --yellowDynamic50: #fffde5;
    --yellowDynamic100: #fff9c0;
    --yellowDynamic200: #fff595;
    --yellowDynamic300: #fef167;
    --yellowDynamic400: #fcec3f;
    --yellowDynamic500: #fae700;
    --yellowDynamic600: #ffd900;
    --yellowDynamic700: #ffc000;
    --yellowDynamic800: #ffa700;
    --yellowDynamic900: #fe7a00;
    --greenDynamic50: #e3fbea;
    --greenDynamic100: #bcf4cc;
    --greenDynamic200: #8becab;
    --greenDynamic300: #46e586;
    --greenDynamic400: #00dd68;
    --greenDynamic500: #00d34f;
    --greenDynamic600: #00c344;
    --greenDynamic700: #00af37;
    --greenDynamic800: #009d2c;
    --greenDynamic900: #007c16;
    --greenSoft50: #e7f6ea;
    --greenSoft100: #c5e8cc;
    --greenSoft200: #a0d9ac;
    --greenSoft300: #78cb8b;
    --greenSoft400: #78cb8b;
    --greenSoft500: #38b45a;
    --greenSoft600: #2fa550;
    --greenSoft700: #249345;
    --greenSoft800: #1a823a;
    --greenSoft900: #026226;
    --grey50: #ffffff;
    --grey100: #f5f5f5;
    --grey150: #f3f3f3;
    --grey200: #e0e0e0;
    --grey300: #c3c3c3;
    --grey400: #a5a5a5;
    --grey500: #7b7b7b;
    --grey600: #575757;
    --grey700: #3a3a3a;
    --grey800: #272727;
    --grey900: #171717;
    --grey1000: #000000;

    --hoverBoxShadow: 0px 1px 3px 0px rgb(0 0 0 / 15%), 0px 3px 4px 0px rgb(0 0 0 / 9%), 0px 0px 9px 0px rgb(0 0 0 / 7%);
    --activeBoxShadow: 0px 5px 5px -3px rgb(0 0 0 / 15%), 0px 8px 10px 1px rgb(0 0 0 / 9%),
        0px 1px 11px 2px rgb(0 0 0 / 7%);
}
