:root {
  --primary50: #f8fdff;
  --primary100: #f0faff;
  --primary200: #d6f0ff;
  --primary300: #b4ddff;
  --primary400: #81c5ff;
  --primary500: #4aabff;
  --primary600: #2391ef;
  --primary700: #3579c9;
  --primary800: #195fb2;
  --primary900: #07448d;
  --primary1000: #002d64;
  --success50: #e0ebff;
  --success100: #cbddfd;
  --success200: #b8d0fd;
  --success300: #a7c6ff;
  --success400: #86b0ff;
  --success500: #2798f9;
  --success600: #4181f7;
  --success700: #2e70ea;
  --success800: #1d5fd8;
  --success900: #0347c4;
  --success1000: #003091;
  --error50: #ffd5d5;
  --error100: #ffbaba;
  --error200: #ff9595;
  --error300: #ff7c7c;
  --error400: #fd6b6b;
  --error500: #ff5252;
  --error600: #f24040;
  --error700: #d82e2e;
  --error800: #bf1f1f;
  --error900: #a40b0b;
  --error1000: #7e0202;
  --grey50: #ffffff;
  --grey100: #f5f5f5;
  --grey150: #f3f3f3;
  --grey200: #e0e0e0;
  --grey300: #c3c3c3;
  --grey400: #a5a5a5;
  --grey500: #7b7b7b;
  --grey600: #575757;
  --grey700: #3a3a3a;
  --grey800: #272727;
  --grey900: #171717;
  --grey1000: #000000;

  --hoverBoxShadow: 0px 1px 3px 0px rgb(0 0 0 / 15%),
    0px 3px 4px 0px rgb(0 0 0 / 9%), 0px 0px 9px 0px rgb(0 0 0 / 7%);
  --activeBoxShadow: 0px 5px 5px -3px rgb(0 0 0 / 15%),
    0px 8px 10px 1px rgb(0 0 0 / 9%), 0px 1px 11px 2px rgb(0 0 0 / 7%);
}
