:root {
    --primary100: #d3d9cc;
    --primary200: #c6ccc0;
    --primary300: #babfb4;
    --primary400: #adb3a8;
    --primary500: #9aa692;
    --primary600: #809a6f;
    --primary700: #5b734d;
    --primary800: #394d2f;
    --primary900: #1b2616;
    --secondary100: #fff9f0;
    --secondary200: #f2ece4;
    --secondary300: #e6d9cc;
    --secondary400: #d9bb9e;
    --secondary500: #cc9c75;
    --secondary600: #a67756;
    --secondary700: #80563c;
    --secondary800: #593825;
    --secondary900: #331e15;
    --error50: #ffd5d5;
    --error100: #ffbaba;
    --error200: #ff9595;
    --error300: #ff7c7c;
    --error400: #fd6b6b;
    --error500: #ff5252;
    --error600: #f24040;
    --error700: #d82e2e;
    --error800: #bf1f1f;
    --error900: #a40b0b;
    --error1000: #7e0202;
    --grey100: #f5f5f5;
    --grey150: #f3f3f3;
    --grey200: #e0e0e0;
    --grey300: #c3c3c3;
    --grey400: #a5a5a5;
    --grey500: #7b7b7b;
    --grey600: #575757;
    --grey700: #3a3a3a;
    --grey800: #272727;
    --grey900: #171717;

    --hoverBoxShadow: 0px 1px 3px 0px rgb(0 0 0 / 15%), 0px 3px 4px 0px rgb(0 0 0 / 9%), 0px 0px 9px 0px rgb(0 0 0 / 7%);
    --activeBoxShadow: 0px 5px 5px -3px rgb(0 0 0 / 15%), 0px 8px 10px 1px rgb(0 0 0 / 9%),
        0px 1px 11px 2px rgb(0 0 0 / 7%);
}

.ppby-portal-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;
}
