.wds-select {
    position: relative;
    display: flex;
    align-items: center;
    min-width: 100px;
    width: 100%;
    height: 32px;
    border-radius: 4px;
    border: 1px solid transparent;
    overflow: hidden;
    background-color: var(--grey200);
    transition: box-shadow 0.3s;
}
.wds-select.wds-select-large {
    height: 40px;
}
.wds-select:hover {
    box-shadow: var(--hoverBoxShadow);
}
.wds-select::after {
    content: attr(data-value);
    position: absolute;
    left: 8px;
    right: 30px;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    width: calc(100% - 38px);
    color: var(--grey700);
    font-size: 15px;
    line-height: 19px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    pointer-events: none;
    opacity: 0;
    animation: wds-animate-show 0.5s ease-in-out forwards;
}
.wds-select.wds-select-placeholder::after {
    color: var(--grey400);
}
.wds-select.wds-select-border {
    background-color: #fff;
    border: 1px solid var(--grey200);
}
.wds-select.loading::after {
    content: none;
}
.wds-select.loading::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    animation: wds-animate-skeleton-gradient 1.8s infinite ease-in-out;
    z-index: 1;
    pointer-events: none;
}
.wds-select.loading:hover {
    box-shadow: none;
}
.wds-select > .icon {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 8px;
    margin: auto 0;
    width: 24px;
    height: 24px;
    pointer-events: none;
    color: var(--grey500);
    z-index: 1;
}
.wds-select > select {
    width: 100%;
    height: 100%;
    outline: none;
    border: none;
    border-radius: 4px;
    background-color: transparent;
    color: transparent;
    -webkit-appearance: none;
    -moz-appearance: none;
    cursor: pointer;
}
.wds-select.loading > select {
    pointer-events: none;
}
