.wds-select {
    position: relative;
    display: flex;
    align-items: center;
    min-width: 100px;
    width: 100%;
    height: 32px;
    border-radius: 4px;
    border: 1px solid transparent;
    overflow: hidden;
    background-color: var(--grey150);
    transition: box-shadow 0.3s;
}
.wds-select.wds-select-large {
    min-width: 120px;
    height: 40px;
}
.wds-select:not(.loading):not(.disabled).focus,
.wds-select:not(.loading):not(.disabled):hover {
    box-shadow: var(--hoverBoxShadow);
}
.wds-select:not(.loading)::after {
    content: attr(data-value);
    position: absolute;
    left: 16px;
    width: calc(100% - 42px);
    color: var(--grey700);

    font-size: 14px;
    line-height: 18px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    pointer-events: none;
    opacity: 0;
    animation: wds-animate-show 0.3s ease-in-out forwards;
}
.wds-select.wds-select-large::after {
    font-size: 16px;
    line-height: 20px;
}
.wds-select.wds-select-placeholder::after {
    color: var(--grey400);
}
.wds-select.wds-select-border {
    background-color: #fff;
    border: 1px solid var(--grey300);
}
.wds-select.loading::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    animation: wds-animate-skeleton-gradient 1.8s infinite ease-in-out;
    z-index: 1;
    pointer-events: none;
}
.wds-select > .icon {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 8px;
    margin: auto 0;
    width: 24px;
    height: 24px;
    pointer-events: none;
    color: var(--grey500);
    z-index: 1;
}
.wds-select > select {
    width: 100%;
    height: 100%;
    outline: none;
    border: none;
    background-color: transparent;
    color: transparent;
    -webkit-appearance: none;
    -moz-appearance: none;
    cursor: pointer;
}
.wds-select.loading > select {
    pointer-events: none;
}
.wds-select.disabled {
    background-color: var(--grey150);
}
.wds-select.disabled::after {
    background-color: var(--grey150);
    color: var(--grey200);
}
.wds-select.disabled > select {
    cursor: not-allowed;
}
