.wds-alert-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.4);
    opacity: 0;
    z-index: 1001;
    pointer-events: none;
    transition: opacity 0.2s;
}
.wds-alert-container[data-open='true'] {
    opacity: 1;
    pointer-events: auto;
}
.wds-alert-wrapper {
    display: flex;
    flex-direction: column;
    width: 450px;
    background-color: #fff;
    border-radius: 4px;
    opacity: 0;
    transform: scale(0.8);
    transition: all 0.3s ease-in-out;
    overflow: hidden;
    filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.1));
}
.wds-alert-container[data-open='true'] > .wds-alert-wrapper {
    opacity: 1;
    transform: scale(1);
}
.wds-alert-header {
    display: flex;
    flex-direction: column;
    height: 96px;
    margin: 0 32px;
    padding-top: 26px;
}
.wds-alert-header-icon {
    margin-left: auto;
    cursor: pointer;
    color: var(--grey700);
}
.wds-alert-header-icon:hover {
    color: var(--grey500);
}
.wds-alert-title {
    margin-top: auto;
    font-weight: bold;
    font-size: 20px;
    line-height: 25px;
    color: var(--grey700);
}
.wds-alert-content {
    height: 145px;
    padding: 20px 32px;
}
.wds-alert-footer {
    margin-top: auto;
}
