.wds-picker {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 284px;
    padding: 16px;
    background: var(--grey50);
    border: 1px solid var(--grey150);
    border-radius: 4px;
}
.wds-picker.mobile {
    /* width: 100%; */
    padding: 0;
    width: 366px;
    max-width: 366px;
    border: none;
    border-radius: none;
}
.wds-picker-day {
    min-height: 280px;
}
.wds-picker-month {
    min-height: 240px;
}
.wds-picker > .wds-picker-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.wds-picker > .wds-picker-header > button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: inherit;
}
.wds-picker > .wds-picker-header > button > svg {
    color: var(--grey500);
    transition: color 0.2s;
}
.wds-picker > .wds-picker-header > button:hover > svg {
    color: var(--grey600);
}
.wds-picker > .wds-picker-header > button:active > svg {
    color: var(--grey700);
}
.wds-picker > .wds-picker-header > .wds-picker-year-month {
    display: flex;
    align-items: center;
    column-gap: 8px;
}
.wds-picker > .wds-picker-header > .wds-picker-year-month > span {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 2px;
    font-size: 14px;
    color: var(--grey700);
}
.wds-picker-body {
    width: 100%;
    height: 100%;
    margin-top: 6px;
}
.wds-picker-body thead > tr {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid var(--grey200);
}
.wds-picker-body th {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 36px;
    height: 36px;

    font-weight: 500;
    font-size: 10px;
    line-height: 12px;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--grey700);
}
.wds-picker .wds-picker-body th {
    flex: 1;
    font-size: 70%;
    line-height: 1;
}
.wds-picker-body tbody {
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 0;
    animation: wds-animate-show 0.3s ease-in-out forwards;
}
.wds-picker-body tbody > tr {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#wds-date-picker-month {
    flex: 1;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: repeat(4, 1fr);
    width: 100%;
    height: 100%;
}
#wds-date-picker-month > .month-cell {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;

    font-size: 14px;
    line-height: 22px;
    text-align: center;
    color: var(--grey700);
}
.wds-picker-cell {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 36px;
    height: 36px;

    font-size: 14px;
    line-height: 22px;
    text-align: center;
    color: var(--grey800);

    cursor: pointer;
}
.wds-picker.mobile .wds-picker-cell {
    width: calc((100vw - 24px) / 7);
    max-width: 52.28px;
    height: calc((100vw - 24px) / 7);
    max-height: 52.28px;
    font-size: 90%;
    line-height: 1;
}
.wds-picker-cell:focus-visible {
    outline: none;
}
.wds-picker-cell::before,
.wds-picker-cell::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.wds-picker-cell-not-included {
    color: var(--grey500);
}
.wds-picker-cell[data-today='true'][data-select='false'][data-start-date='false'][data-end-date='false']::after {
    width: 83%;
    height: 83%;
    margin: auto;
    /* border: 1px solid var(--primary500); */
    background-color: #ebebeb;
    border-radius: 50%;
}
.wds-picker-cell[data-start-date='true'] {
    color: #fff;
}
.wds-picker-cell[data-start-date='true']::after {
    border-radius: 50%;
    width: 83%;
    height: 83%;
    margin: auto;
    background-color: var(--primary500);
    z-index: 1;
}
.wds-picker-cell[data-start-date-finish='true'][data-same-date='false']::before {
    width: 50%;
    height: 83%;
    margin: auto 0;
    margin-left: auto;
    background-color: var(--primary400);
}
.wds-picker-cell[data-end-date='true'] {
    color: #fff;
}
.wds-picker-cell[data-end-date='true']::after {
    border-radius: 50%;
    width: 83%;
    height: 83%;
    margin: auto;
    background-color: var(--primary500);
    z-index: 1;
}
.wds-picker-cell[data-end-date='true'][data-same-date='false']::before {
    width: 50%;
    height: 83%;
    margin: auto 0;
    margin-right: auto;
    background-color: var(--primary400);
}

.wds-picker-cell[data-select='true'] {
    color: #fff;
}
.wds-picker-cell[data-select='true']::after {
    width: 100%;
    height: 83%;
    margin: auto 0;
    margin-left: auto;
    background-color: var(--primary400);
}

.wds-picker-cell[data-disabled='true'] {
    cursor: not-allowed;
    color: var(--grey300);
}

.wds-picker-cell[data-disabled='false']:hover[data-select='false'][data-end-date='false'][data-start-date='false'] {
    color: var(--grey500);
}
.wds-picker-cell[data-disabled='false']:hover[data-select='false'][data-end-date='false'][data-start-date='false'].wds-picker-cell-not-included {
    color: var(--grey400);
}

.wds-picker-cell > span {
    display: inline-block;
    position: relative;
    width: 17px;
    z-index: 2;
}
.wds-picker-cell-event > span::after {
    /* color: var(--grey300); */
    content: '';
    position: absolute;
    bottom: -4px;
    left: 0;
    right: 0;
    height: 2px;
    border-radius: 1px;
    background-color: var(--primary300);
}
.wds-picker-btn {
    padding: 0px;
    width: 32px;
    height: 32px;
}
.wds-picker-btn > svg {
    pointer-events: none;
    width: 24px;
    height: 24px;
}
.wds-picker-input {
    position: relative;
    justify-content: flex-start;
    padding-left: 12px;
    padding-right: 46px;
    min-width: 120px;
    height: 32px;
}
.wds-picker-input > .text {
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: var(--grey700);
    white-space: nowrap;
    pointer-events: none;
}
.wds-picker-input > svg {
    position: absolute;
    width: 22px;
    height: 22px;
    right: 12px;
    pointer-events: none;
}
.wds-picker-input.large {
    padding-left: 16px;
    padding-right: 50px;
    height: 40px;
}
.wds-picker-input.large > .text {
    font-size: 16px;
    line-height: 20px;
}
.wds-picker-input.large > svg {
    width: 24px;
    height: 24px;
    right: 14px;
}
.wds-picker-input > .text[data-placeholder='true'] {
    color: var(--grey300);
}
