.ppby-message {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.4);
    opacity: 0;
    z-index: 998;
    pointer-events: none;
    transition: opacity 0.2s;
}
.ppby-message-open {
    opacity: 1;
    pointer-events: auto;
}
.ppby-message-wrapper {
    display: flex;
    flex-direction: column;
    width: 450px;
    background-color: #fff;
    border-radius: 4px;
    opacity: 0;
    transform: scale(0);
    transition: transform 0.3s ease-in-out, opacity 0.2s;
    overflow: hidden;
    filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.1));
}
.ppby-message-open > .ppby-message-wrapper {
    opacity: 1;
    transform: scale(1);
}
.ppby-message-header {
    display: flex;
    flex-direction: column;
    height: 96px;
    margin: 0 32px;
    padding-top: 26px;
}
.ppby-message-icon {
    margin-left: auto;
    cursor: pointer;
    color: var(--grey500);
}
.ppby-message-icon:hover {
    color: var(--grey600);
}
.ppby-message-icon:active {
    color: var(--grey700);
}
.ppby-message-contents {
    height: 145px;
    padding: 20px 32px;
}
.ppby-message-footer {
    margin-top: auto;
}
